.card {
    position: relative;
    // width: 217px;
    // height: 299px;
    // background-image: url(../../img/card__bg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/card__bg.png);
    width: 217px;
    height: 299px;
    border-radius: 20px;
    background-color:#080115;

    @media (max-width: 576px) {
        width: 124px;
        height: 171px;
    }
    
    &__shop {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(299px, 1fr));
        gap:10px;
        padding-left: 16px;

        @media (max-width: 576px) {
        grid-template-columns: repeat(auto-fill, minmax(124px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(171px, 1fr));
        }    
        
        
    }
    
    &__price {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__item {
        padding-top: 20px;

        @media (max-width: 576px) {
            width: 87px;
            height: 48px;
        }
    }

    &__text {
        @media (max-width: 576px) {
            width: 83px;
            height: 47px;
        }
    }

    &__btn {
        padding-bottom: 15px;


        &:hover {
            cursor: pointer;
            -webkit-transform: scale(0.7);
            -ms-transform: scale(1.2);
            transform: scale(1.1);
            }

        @media (max-width: 576px) {
            width: 98px;
            height: 27px;
        }
    }
}

// GOLD GOLD GOLD GOLD GOLD GOLD GOLD GOLD GOLD

.card__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card__title {
    font-family: Leksa Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: $white;
    margin-bottom: 20px;

}