.main {

    &__item {
    }
}
.item {

    &__wrapper {
    }

    &__title {
        font-family: Leksa Sans;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: center;
        color: $white;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__shop {
    }

    &__card {
    }
}

.card {
    position: relative;
    width: 217px;
    height: 299px;
    background-image: url(../../img/card__bg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
       
    
    &__price {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__iten {
        padding-top: 20px;
    }

    &__text {
    }

    &__btn {
        padding-bottom: 15px;
    }
}
