.main {
    background-color: #16151F;
    background-image: url(../img/main__bg.png);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: 3000px) {
        background-size: cover;
    }


     @media (max-width: 576px) {
        background-color: #181723;
     }
    &__wrapper {
    padding-bottom: 85px;
    }


    &__item {
        background-color: #212031;
        padding-top: 24px;
        border-radius: 0px 0px 10px 10px;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 576px) {
            border-radius: 10px;;
         }
    }
}

.item {

    

    &__wrapper {
        padding-bottom: 30px;
        border-bottom: 1px solid #9794C6;
    }
    
    &__title {
        font-family: Leksa Sans;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: center;
        color: $white;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        &:hover {
            color: #ac4cd9;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }
}

